body {
  font-family: Arial, sans-serif;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

#button-container {
  position: fixed;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

#images-container {
  position: relative;
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

img {
  max-width: 300px;
  transition: transform 1.5s, opacity 1s;
}

.hidden {
  opacity: 0;
  transform: scale(0);
}

.show {
  opacity: 1;
  transform: scale(1);
}

.move-to-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
}